#Volunteer-Experience, #Resume, #Life-Update {
  background-image: url(background.jpg);
    backdrop-filter: saturate(100%);
    background-size: 100% ;
  }

.headshot-cointainer {
  text-align: center; /* Centers the image horizontally within the container */
}

.headshot-container img {
  /* display: block; Makes the image a block element */
  margin: 0 auto; /* Centers the image horizontally */
  width: 20%; /* Sets the image width to 50% of the container */
  height: auto; /* Maintains the image's aspect ratio */

}
.Aero-container img {
  /* display: block; Makes the image a block element */
  margin: 0 auto; /* Centers the image horizontally */
  width: 50%; /* Sets the image width to 50% of the container */
  height: auto; /* Maintains the image's aspect ratio */
  max-width: 30%;
}

.SWE-container img {
  /* display: block; Makes the image a block element */
  margin: 0 auto; /* Centers the image horizontally */
  width: 30%; /* Sets the image width to 50% of the container */
  height: auto; /* Maintains the image's aspect ratio */
  max-width: 20%;
}

.card {
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.btn {
  background-color: pink;
  border: 5%;
  color: black;
}

.document-center {
  width: 80%; /* Adjust as needed */
  /* max-width: 60%; */
  margin: 0 auto;
  text-align: center; /* Center text within the container */
  /* For vertical centering (using flexbox) */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 500; /* Adjust as needed */
}

embed {
  width: 80%;
  aspect-ratio: 4 / 3;
  height: auto;
}

.navbar a {
  font-size: 15px;
  color: black;
  width: 17%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}
.navbar-nav {
  background-color: rgb(125, 237, 254);
  font-size: larger;
  font-weight: bolder;
  width: 100%;
}

.nav-link:hover {
  background-color: rgb(122, 0, 252);
  color: white;
}

h1 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  padding: 2rem;
}

.pill-text {
    background-color: pink; /* Or any desired color */
    border-radius: 20px; /* Adjust the radius as needed */
    padding: 5px 15px; /* Adjust padding as needed */
    display: inline-block; /* Optional: Adjusts element behavior */
}

