#Work-Experience {
  background-color: #f073c4;
}
.card {
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.btn {
  background-color: pink;
  border: 5%;
}

.pdf {
  width: 100%;
  aspect-ratio: 4 / 3;
  height: 200%;
  margin: 0;
  padding: 0;
}

 .navbar a {
  float: left;
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
  width: 17%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}
.navbar-nav {
background-color: aquamarine;
font-size: larger;
font-weight: bolder;
width: 100%;
}

.nav-link:hover {
  background-color: rgb(131, 29, 239);
  
}